<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0">
 
  <author href="http://www.example.com/">Leon, Eldwin, Natalie</author>
 
  <name>BBDragon</name>
 
  <description>CS4344 Final Project</description>
 
  <rim:orientation mode="landscape"/>
<!-- 
  <rim:loadingScreen backgroundImage="background.png"
                     foregroundImage="foreground.gif"
                     onLocalPageLoad="true">
    <rim:transitionEffect type="zoomIn"/>
  </rim:loadingScreen>
-->         
  <rim:category name="games"/>    
 
  <rim:permissions>
    <rim:permit>access_shared</rim:permit>
  </rim:permissions>
 
  <icon src="icn/icon.png" />
 
  <content src="index.html" />

  <feature id="blackberry.ui.dialog" required="true" version="1.0.0"/>
  <access uri="http://ec2-184-73-92-233.compute-1.amazonaws.com:8000" subdomains="false" />
 
</widget>
